
html, body {
	width: 100%;
	height: 100%;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:0px;
    margin-bottom: 0px;
}

html:active{

}

article {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
}

header {
	display: grid;
	padding: 0px;
}

main {
    /*background-color:green ;
    background: url("backgr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;*/
    background: #c0392b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

    color: #444;
    /*padding: 1rem;*/
    display: grid;
}

footer {
    background: #c0c0c0;
    padding: 5px;
    height: 20px;
    box-shadow: inset 1px 1px #dfdfdf, 0px -1px #c0c0c0, inset -1px 1px #808080;
}

.button-start{
    font-family: FuenteBkn;
    margin-left: -3px;
    margin-bottom: 0px;
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
    padding: 0px 3px 0px;
    background-color: silver;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    min-width: 59px;
    
    margin-right: 6px;
    color: #000;
    height: 22px;
    cursor:pointer;
    
}

.buttonshora{
    font-family: FuenteBkn;
    margin-left: 2px;
    margin-bottom: 2px;
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
    padding: 1px 6px 3px;
    background-color: #b8b8b8;
    border-top: 1px solid #808080;
    border-left: 1px solid gray;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: inset 1px 1px #808080, 1px 0 #fff, 0 1px #fff, 1px 1px #fff;
    min-width: 59px;
    display: table;
    color: black;
    font-size: 8px;
    text-align: center;
    /*position: absolute;*/
    height: 18px;
    right: 4px;
    float: right;
}

.buttonmenu{
    display: grid;
    font-family: FuenteBkn;
    margin-left: -3px;
    margin-bottom: 0px;
    margin-top: -168px;
    /* vertical-align: middle; */
    /* display: block; */
    padding: 1px 0px 1px 1px;
    background-color: silver;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    margin-right: 85%;
    color: #000;
    display: none;
    font-size: 8px;
    min-width: 191px;
    
}

.grid-container{
    display: grid;
    
}


@font-face {
    font-family: FuenteBkn;
    src: url(../font/px_sans_nouveaux.ttf);
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.text-start{
    font-size: 50%;
    /*line-height: 1.5;
    letter-spacing: -1px;*/
    font-weight: bold;
    margin-top: 50px;
    vertical-align: super;
}

.grid-item-button{
    position: relative;
}

.iexplorer{
    padding-left: 25px;
}

.recyclebin{
    padding-left: 5px;
}

.grid-item-8{
    padding-left: 25px;
}

.grid-item-8-1{
    font-family: FuenteBkn;
    color: white;
    font-size: 9px;
}

.grid-item-2{
    padding-left: 20px;
}
.grid-item-2-1{
    font-family: FuenteBkn;
    color: white;
    padding-left: 0px;
    font-size: 9px;
}


.grid-item-1{
    padding-left: 20px;

}

.grid-item-1-1{
    font-family: FuenteBkn;
    color: white;
    font-size: 9px;
    padding-left: 0px;
}

.MyDocuments{
    padding-left: 17px;
}

.grid-item-3{
    padding-left: 5px;
}

.grid-item-3-1{
    font-family: FuenteBkn;
    color: white;
    font-size: 9px;
    padding-left: 23px;
}
.notepad{
    padding-left: 45px;
    padding-top: 0px;
}


div.button-start:active{
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #848484;
    border-top: 1px solid #848484;
    box-shadow: inset 0px -1px 0px -2px black, 1px 1px 0px 0px white, 0px 0px 0px 1px black, 1px -1px 0 0px white;
    
    /*background-color: #727272 ;*/

    
}

/*
a.buttons:active + .buttonmenu {
    display: block;
}
*/

.grid-item-hora{
    text-align: right;
    margin-top: -35px;
    
}

.text-hora{
    margin-top:20px;
    
}

.queonda{
    background: url("../img/cv.jpg");
    background-repeat: no-repeat;
    
}

.windowsgif{
    padding: 0px 3px 3px;

}


li{
    list-style-type: none;
    
}

.img-menu{
    vertical-align: middle;
}

li:hover{
    background-color: #0090e4;
    color: white;
    cursor: pointer;
}