


body{
	background-color:black;
	z-index: 9998;
}

h1{
	color: #F0F0F0 ;
}


h3{
	font-family: 'Arvo', serif;
	font.width: 500;
	color:white;
	margin-bottom: 50;
}

h5{
    font-family: 'Arvo', serif;
	font.width: 500;
	color: #F0F0F0 ;
    letter-spacing: 2px;
	padding-bottom: 5px;
}

.leyenda{
	color:#ff9a00;
	margin-bottom: 2em;
}



.titulo{
	    height: 70px;
		background-color: #012c56;
	    font-color: white;	    
	    border-bottom: 1px solid #fdba31;
	    position: relative;
	    z-index:9999;
	    top:-20px;
}

.general{
	margin-top: 100px;
}

.uno{
	padding:20px;
}

.dos{
	padding: 20px;
}

.login{
	width: 100% !important;
	height: auto;
	border-color: 5px solid red;
	text-align: center;
	padding: 25px 40px 25px 40px;
	border-radius:3px;	
	/* AZUL DUOC background-color:#012c56; */
	background-color: rgba(0,56,101,0.6);
	/*background-color: #012c56;*/
}

.form-control{ 
  padding : 0 10px;
  margin  : 10px;
  background-color:gray;
  font-family: 'Arvo', serif;
}

/*Ajustar alto de input text*/

.form-control:hover{
	background-color: #fff;
}

.form-control:focus{
  background   : #fff;
  border-radius: 5px;
  outline      : none;
}

.btn{
	margin-top: 20px;
	height: 40px;
	font-size:15px;
	border-radius: 10px;
}

footer{
		background-color: #012c56;
		height: 50px;
		bottom:0;
		border-top: 1px solid #fdba31;
		position: fixed;
		width: 100%;
		color: #fff;
		font-size: .8em;		
}

.netcar{
	color:red;
}

.copyright{
	margin-top: 10px;
	color: grey ;
	margin-top: 19px;
}

 
    
@media only screen and (max-width: 768px) {
   .imagenlogin {
   	display: none;    
   }
  
   .general{
   	margin-top: -20px;
   }
}

@media only screen and (min-width: 769px) and (max-width: 992px){
	.login{
   	background-color: ;
   }

    .general{
   	margin-top: -15px;   	
   }

    .imagenlogin {
   	margin-top: 30px; 
   }
}

